Repository crev-dev/pip-crev: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt, isort, black, flake8, pydocstyle, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: fmt
    name: cargo fmt
    description: Format files with cargo fmt.
    entry: cargo fmt --
    language: system
    types: [rust]
    args: []

  - id: isort
    name: isort
    stages: [commit]
    language: system
    entry: pipenv run isort
    types: [python]

  - id: black
    name: black
    stages: [commit]
    language: system
    entry: pipenv run black
    types: [python]

  - id: flake8
    name: flake8
    stages: [commit]
    language: system
    entry: pipenv run flake8
    types: [python]
    exclude: setup.py
  
  - id: pydocstyle
    name: pydocstyle
    stages: [commit]
    language: system
    entry: pipenv run pydocstyle
    types: [python]

  - id: mypy
    name: mypy
    stages: [commit]
    language: system
    entry: pipenv run mypy
    types: [python]
    require_serial: true

  - id: pytest
    name: pytest
    stages: [commit]
    language: system
    entry: pipenv run pytest
    types: [python]
    pass_filenames: false

  # - id: pytest-cov
  #   name: pytest
  #   stages: [push]
  #   language: system
  #   entry: pipenv run pytest --cov --cov-fail-under=100
  #   types: [python]
  #   pass_filenames: false

Move py-crev-lib crate into its own directory.
  Cargo.toml
  py-crev-lib/Cargo.toml
  py-crev-lib/src/id.rs
  py-crev-lib/src/lib.rs
  py-crev-lib/src/prelude.rs
  setup.py
Due: fmt, isort, black, pydocstyle, mypy, pytest

Move pip_crev test directory into pip_crev directory.
  pip_crev/test/__init__.py
  pip_crev/test/test_pip_crev.py
  setup.cfg
Due: isort, black, flake8, pydocstyle, mypy, pytest

Remove redundant line.
  MANIFEST.in
Due: none

Add bridge between 'pip-crev id trust' and crev-lib.
  Cargo.lock
  pip_crev/commands/id_cmd/trust_cmd.py
  py-crev-lib/Cargo.toml
  py-crev-lib/src/edit.rs
  py-crev-lib/src/id.rs
  py-crev-lib/src/lib.rs
  py-crev-lib/src/prelude.rs
Due: fmt, isort, black, flake8, pydocstyle, mypy, pytest

Remove redundant print statment.
  pip_crev/commands/id_cmd/trust_cmd.py
Due: isort, black, flake8, pydocstyle, mypy, pytest

Rust pyfunction wrap_create_trust_proof(.) uses pyo3 types. Accepts list of IDs.
  pip_crev/commands/id_cmd/trust_cmd.py
  py-crev-lib/src/id.rs
Due: fmt, isort, black, flake8, pydocstyle, mypy, pytest

Update crev dependencies. Refactor wrap_create_trust_proof(.)
  Cargo.lock
  pip_crev/commands/id_cmd/trust_cmd.py
  py-crev-lib/Cargo.toml
  py-crev-lib/src/id.rs
Due: fmt, isort, black, flake8, pydocstyle, mypy, pytest

Refactor code for obtaining proof type from python string.
  py-crev-lib/src/id.rs
Due: fmt

Add execution bridge from python to rust for commands 'pip-crev id untrust' and 'pip-crev id distrust'.
  pip_crev/commands/id_cmd/distrust_cmd.py
  pip_crev/commands/id_cmd/untrust_cmd.py
Due: isort, black, flake8, pydocstyle, mypy, pytest

Remove redundant 'use' statment.
  py-crev-lib/src/id.rs
Due: fmt

Add subcommand: config edit.
  pip_crev/commands/__init__.py
  pip_crev/commands/config_cmd/__init__.py
  pip_crev/commands/config_cmd/edit_cmd.py
  py-crev-lib/src/config.rs
  py-crev-lib/src/lib.rs
Due: fmt, isort, black, flake8, pydocstyle, mypy, pytest
